@use "../../variables" as *;

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	padding: 15px 35px;
	font-family: $font-main; // Zmienione na $font-main
	font-size: 0.95rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 1px solid transparent;
	text-align: center;
	text-decoration: none;

	// 1. Główny przycisk (Czerwień ECO-SYS)
	&--primary {
		background-color: $color-secondary;
		color: $color-white;

		&:hover:not(.btn--disabled) {
			background-color: $color-bg-dark; // Zmienia się na czarny/ciemny
			transform: scale(1.03); // Delikatne powiększenie
		}
	}

	// 2. Poboczny przycisk (Granat ECO-SYS)
	&--secondary {
		background-color: $color-primary;
		color: $color-white;

		&:hover:not(.btn--disabled) {
			background-color: $color-bg-dark; // Zmienia się na czarny/ciemny
			transform: scale(1.03); // Delikatne powiększenie
		}
	}

	// 3. Obrys jasny (Na ciemne tła)
	&--outline-light {
		background-color: transparent;
		border-color: $color-white;
		color: $color-white;

		&:hover:not(.btn--disabled) {
			background-color: $color-white;
			color: $color-primary;
		}
	}

	// 4. Obrys ciemny (Na jasne tła)
	&--outline-dark {
		background-color: transparent;
		border-color: $color-primary;
		color: $color-primary;

		&:hover:not(.btn--disabled) {
			background-color: $color-primary;
			color: $color-white;
		}
	}

	// --- STANY ŁADOWANIA I BLOKADY ---
	&--disabled,
	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
		pointer-events: none;
	}

	&__spinner {
		animation: btn-spin 1s linear infinite;
	}
}

@keyframes btn-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
